@import '../fonts/fonts';
@import './variables';

@import '../../pages/navbar/navbar';
@import '../../pages/home/home';
@import '../../pages//about/about';
@import '../../pages/projects/projects';
@import '../../pages/contact/contact';
@import '../../pages/footer/footer';

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $grey;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $black;
}

::-webkit-scrollbar-track {
    background-color: $white;
}


body {
    margin: 0;
    padding: 0;

    .spacer {
        margin-bottom: 15vh;
    }

    @media (max-width: 767.98px) {
        .spacer {
            margin-bottom: 25vh;
        }
    }
}